<html>
<style>
    #t {
        border: 1px solid black;
    }
</style>

<body>

    <table width="100%">
        <tr>
            <td><a href='/'> Home </a></td>
            <td><a href='/students'>Student</a></td>
            <td><a href='/instructors'>Instructor</a></td>
            <td><a href='/classrooms'>Classroom</a></td>
            <td><a href='/courses'>Course</a></td>
            <td><a href='/enrollment'>Enrollment</a></td>
        </tr>
    </table>
    <hr>

    <h1>Welcome to the school of Electrical Engineering and Computer Science online enrollment system!</h1>
    <h3>The School of Electrical Engineering and Computer Science has 4,000 enrolled
undergraduate students and 100 instructors, offers 100 courses every term, and has 200
available classrooms. A database driven website will record a catalog of courses offered per
term, including a course’s instructor, TAs(not implemented yet), students, classroom and other information.</h3>
    <br><br>
    <p>Please choose a page from below links:</p>
    <a href='/students'>Student</a>: You can Create, Read, Update and Delete students<br>
    <a href='/instructors'>Instructor</a>: You can Create, Read and Delete instructors<br>
    <a href='/classrooms'>Classroom</a>: You can Create, Read and Delete classrooms<br>
    <a href='/courses'>Course</a>: You can Create, Read, Update and Delete courses<br>
    <a href='/enrollment'>Enrollment</a>: You can Create, Read and Deleteenrollments<br>
</body>

</html>